<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Często Zadawane Pytania</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Jaka będzie pogoda?</h4>  
            <p class="largepad text-muted">Na początku października w Poznaniu średnia temperatura wynosi około 12-15°C w ciągu dnia. Zalecamy warstwowy ubiór i zabranie czegoś cieplejszego na wieczór.</p>
            <h4 class="service-heading">Jaki jest dress code?</h4>  
            <p class="largepad text-muted">Elegancki. Panowie zazwyczaj noszą garnitury (czarny jest OK, najlepiej z niebiałą koszulą), a panie zwykle wybierają sukienki w różnych kolorach. Prosimy unikać całkowicie białych lub całkowicie czarnych strojów.</p>
            <h4 class="service-heading">Czy będzie zorganizowany transport?</h4>  
            <p class="largepad text-muted">W ankiecie znajdziecie pytanie o transport. Dajcie nam znać o swoich potrzebach, a postaramy się pomóc w organizacji przejazdu.</p>
        </div>
    </div>
</section>
