<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Przełącz nawigację</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span>
                <a class="brand page-scroll" href="#page-top" style="text-decoration:none">{{site.title}}</a>&nbsp;&nbsp;&nbsp;
                <a href="{{ site.baseurl }}/pl/" class="btn-m">PL</a>
                <a href="{{ site.baseurl }}/en/" class="btn-m">EN</a> 
            </span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#events">Harmonogram</a>
                </li>
                <li>
                    <a class="page-scroll" href="#venue">Miejsce Ślubu</a>
                </li>
                <li>
                    <a class="page-scroll" href="#wedding_party_venue">Miejsce Wesela</a>
                </li>
                <li>
                    <a class="page-scroll" href="#accommodation">Nocleg</a>
                </li>
                <li>
                    <a class="page-scroll hidden-xs hidden-sm" href="#our_wishes">Nasze Prośby</a>
                </li>
                <li>
                    <a class="page-scroll hidden-xs hidden-sm" href="#survey_link">Ankieta</a>
                </li>
                <li>
                    <a class="page-scroll" href="#FAQ">FAQ</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Natalia i Jakub<br>biorą ślub!</div>
            <div class="intro-lead-in">3 października 2026</div>
            <a href="#events" class="page-scroll btn btn-xl">Dowiedz się więcej</a>
        </div>
    </div>
</header>
