<!-- Things To Do Section -->
<section id="our_wishes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nasze Prośby</h2>
                <h3 class="section-subheading text-muted">      
                    Wiemy, że będziecie chcieli uwiecznić kilka wspomnieć z tego dnia, ale prosimy o ograniczenie korzystania z telefonów do minimum. Szczególnie podczas ceremonii — prosimy o całkowite wyciszenie telefonów i schowanie ich. To dla nas ważna chwila i chcielibyśmy, żeby wszyscy byli w pełni obecni i zachowali ją w sercach i wspomnieniach.
                    Kilka selfie i krótkich filmików jest jak najbardziej w porządku — prosimy tylko o nienagrywanie ceremonii ani całego dnia. Profesjonalny fotograf zajmie się zdjęciami.
                    Chodzi też o bycie razem — zaprosiliśmy tylko wspaniałych ludzi, więc będzie mnóstwo okazji do rozmów, poznania się i świetnej zabawy. Jeśli potrzebujecie chwili przerwy, obok jest piękny park, a w piwnicy Dworu Wierzenica znajduje się pokój relaksacyjny.
                    <br>
                    <br>
                    Jeśli chodzi o prezenty, wiemy, że możecie planować coś dla nas podarować i naprawdę to doceniamy. Jeśli możemy o coś poprosić — prosimy, żeby nie przynosić alkoholu — w większości pijemy wodę i prawdopodobnie nie zostałby wykorzystany.
                    Jeśli chcecie kierować się naszymi preferencjami, będziemy wdzięczni za coś od serca — praktycznego lub małej pamiątki, która pomoże nam zapamiętać ten wyjątkowy dzień. Bony podarunkowe lub delikatesy też będą bardzo mile widziane.
                </h3>
            </div>
        </div>
    </div>
</section>

