<!-- Things To Do Section -->
<section id="survey_link">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ankieta</h2>
                <h3 class="section-subheading text-muted">      
                    Prosimy o wypełnienie ankiety, nawet jeśli niektóre szczegóły mogą się jeszcze zmienić. Zawiera ona ważne pytania, które pomogą nam w organizacji wesela.
                </h3>
            </div>
        </div>
    </div>
</section>

