<!-- Venue Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Miejsce Ślubu</h2>
                <h3 class="section-subheading text-muted">Bierzemy ślub w kaplicy znajdującej się w budynku mieszkalnym. Prosimy o przybycie co najmniej 15 minut przed ceremonią, żebyście mogli się rozgościć, wczuć w atmosferę i cieszyć się chwilą. 
                    W kaplicy są miejsca siedzące, toaleta i napoje do dyspozycji. A jeśli nie jesteście religijni — spokojnie. Wszyscy są serdecznie mile widziani.
                    <br>
                    <br>
                    Wskazówka: Parkowanie w okolicy jest ograniczone, więc prosimy o wzięcie tego pod uwagę. Samochód można zostawić na parkingu centrum handlowego, około 5 minut spacerem. Jeśli nie przyjeżdżacie samochodem, jest wiele innych sposobów na dotarcie. W razie pytań — skontaktujcie się z nami.
                </h3>
            </div>
        </div>
        <style>
        .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        </style>

        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.55742271242!2d16.955075093518644!3d52.3965729732464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47045b237a93a8eb%3A0x2e3a0f7d6ae81f0f!2sParafia%20Imienia%20Jezus!5e0!3m2!1spl!2spl!4v1765742193640!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
