<!-- Venue Section -->
<section id="wedding_party_venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Miejsce Wesela</h2>
                <h3 class="section-subheading text-muted">
                    Miejsce wesela znajduje się około 25 minut od miejsca ceremonii. Tuż obok jest duży park. Wybraliśmy to miejsce ze względu na jego historię i luźną atmosferę — można poszukać więcej informacji w Google. 
                    Jeśli potrzebujecie pomocy z dojazdem, dajcie nam znać.
                </h3>
            </div>
        </div>
        <style>
        .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        </style>

        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1445.4430143879163!2d17.06994695748648!3d52.462191958503496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47045dd6f5ec7245%3A0x52be7a31583e30dc!2sDw%C3%B3r%20Wierzenica!5e0!3m2!1spl!2spl!4v1765742887374!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
