<!-- Things To Do Section -->
<section id="our_wishes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Wishes</h2>
                <h3 class="section-subheading text-muted">      
                    We know you’ll want to capture a few memories from the day, but we kindly ask you to keep phone use to a minimum. Especially during the ceremony—please mute your phone completely and put it away. It’s an important moment for us, and we’d love everyone to be fully present and keep it in their hearts and memories.
                    A few selfies and short clips are absolutely fine—just please don’t record the ceremony or the entire day. We’ll have a professional photographer taking care of the photos.
                    And it’s also about being present with each other—we’ve invited only awesome people, so you’ll have plenty of chances to chat, connect, and have a great time. If you need a little break, there’s a beautiful park outside and a chill-out room in the basement at Dwór Wierzenica.
                    <br>
                    <br>
                    Regarding gifts, we know you may be planning to give us something, and we truly appreciate the thought. If we may make one small request, please don’t bring alcohol—we’re mostly water drinkers and it likely wouldn’t be enjoyed.
                    If you’d like to follow our preferences, we would be grateful for something from the heart—either practical, or a small keepsake to help us remember this special day. Gift vouchers or delicatessen treats would also be very much appreciated.
                    <br>
                    <br>
                    One tip if you haven’t attended a Polish wedding before: please avoid wearing an all-black or all-white outfit. In Poland, white is traditionally reserved for the bride, and full black can feel a bit like funeral attire.
                    Men usually wear suits (black is fine, ideally with a non-black shirt), and women typically wear dresses in a variety of colors.
                </h3>
            </div>
        </div>
    </div>
</section>